# Исключить папку venv
venv/
# Исключить все файлы Python с расширением .pyc
*.pyc
# Исключить папку __pycache__
__pycache__/
# Исключить логи
*.log
# Исключить файлы конфигурации
.env
.env.local
# Исключить временные файлы
*~
Project?.ipynb